.app__cuenta__grid {
  display: grid;
  grid-template-columns: 350px auto;
  gap: 3rem;
}

.app__cuenta__user {
  height: 500px;
  padding: 2rem 0;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__cuenta__user__avatar {
  width: 90px;
  height: 90px;
  background-color: rgb(140, 194, 222);
  border-radius: 50%;

  font-weight: bold;
  font-size: 2rem;
  color: var(--azul-oscuro);
}

.app__cuenta__user__name {
  margin: 1rem 0;
}

.app__cuenta__user__name > span {
  margin: 0 0.5rem;
}

.app__cuenta__user > a {
    margin-top: 1rem;
}

/* PRODUCTOS */

.app__cart__product {
  grid-template-columns: 0.8fr 1.2fr 1fr 0.5fr 0.6fr;
}
