.producto {
  margin: 2rem 0;
  display: grid;
  gap: 1rem;
}

.producto > div:first-child {
  width: 300px;
  margin: 0 auto;
  position: relative;
}

.producto > div > img {
  width: 100%;
  border-radius: 0.5rem;
}

.disponibilidad {
  padding: 0.1rem 0.8rem;
  border-radius: 0.5rem 0 0.5rem;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.en_stock {
  background-color: var(--verde);
}

.agotado {
  background-color: var(--rojo);
}

/* --- */

.producto > div:nth-child(2) h2 {
  text-align: center;
}

.producto > div:nth-child(2) a {
  color: var(--azul);
}

.producto > div:nth-child(2) > * {
  margin: 1rem 0;
}

.producto button {
  padding: 1rem 4rem;
  font-size: 1.2rem;
}

/* DESCRIPCIÓN */

.descripcion {
  text-align: justify;
}

/* INFO */

.caracteristicas > div {
  padding: 1rem 0;

  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--gris-claro);

  display: flex;
  align-items: center;
}

.caracteristicas > div > span {
  margin-left: 0.5rem;
}

@media screen and (min-width: 700px) {
  .producto {
    grid-template-columns: 1fr 1fr;
  }

  .caracteristicas {
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 1200px) {
  .producto {
    display: flex;
  }

  /* --- */

  .producto > div:nth-child(2) {
    width: calc(100% - 650px);
    padding: 0 1rem;
  }

  .producto > div:nth-child(2) h2 {
    margin-top: 0;
    text-align: left;
  }

  /* --- */

  .producto > div:last-child {
    width: 350px;
  }
}
