.cards {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 1rem;
}

@media screen and (min-width: 1000px) {
  .cards {
    grid-template-columns: repeat(4, 220px);
  }
}

@media screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (min-width: 1400px) {
  .cards {
    grid-template-columns: repeat(6, 220px);
  }
}
