.loading {
  width: 80px;
  height: 80px;

  border: 5px solid var(--azul-oscuro-claro);
  border-left-color: var(--azul-claro);
  border-radius: 50%;

  animation: spin 2s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}