.boton {
  padding: 0.4rem 1rem;

  background-color: var(--azul);
  border: 0;
  border-radius: 0.3rem;

  color: white;
  font-family: var(--fuente-general), sans-serif;
  font-size: 0.9rem;
  
  cursor: pointer;
}

.boton:hover {
  background-color: var(--azul-claro);
  color: white;
}

.boton i {
  font-size: 1rem;
}

.boton_margin > i {
  padding-right: 0.8rem;
}

.boton.rojo {
  background-color: var(--rojo);
}