.card {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.8rem;
}

.card__imagen {
  height: 250px;
  margin: 0 auto;
}

.card__imagen img {
  width: 100%;
  height: 250px;

  object-fit: contain;
}

.card > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card > div > a h3 {
  width: 220px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Disponibilidad */

.en_stock {
  color: var(--verde);
}

.agotado {
  color: var(--rojo);
}
