/* --- Fuentes --- */

/* Fuente General - Baloo 2 */
/* @import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap"); */

@font-face {
  font-family: 'Baloo 2';
  src: url('/fonts/Baloo2.ttf');
}

/* Fuente Titulos - Sansita Swashed */
/* @import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap'); */

@font-face {
  font-family: 'Sansita';
  src: url('/fonts/Sansita-Regular.ttf');
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fuente-general: 'Baloo 2';
  --fuente-titulos: 'Sansita';

  --azul-claro: rgb(0, 166, 251);
  --azul: rgb(0, 100, 148);
  --azul-oscuro-claro: rgb(0, 53, 84);
  --azul-oscuro: rgb(6, 33, 46);

  --gris-claro: rgb(211, 211, 211);
  --rojo: rgb(225, 67, 52);
  --verde: rgb(26, 168, 22);
  --amarillo: rgb(198, 164, 26);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--azul-oscuro-claro);
}

::-webkit-scrollbar-thumb {
  background-color: var(--azul);
}

body {
  background-color: var(--azul-oscuro);
}

.app {
  font-size: 16px;
  font-family: var(--fuente-general), sans-serif;
  color: white;
}

.app__main,
.app__header > div > div,
.app__footer > div {
  width: 95%;
  margin: 0 auto;
}

.app__main {
  min-height: 800px;
  padding-bottom: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2 {
  font-family: var(--fuente-titulos), sans-serif;
}

.contenedor {
  padding: 1rem;
  background-color: var(--azul-oscuro-claro);
  border-radius: 0.5rem;
}

.flexible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.borde__gris {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgb(125, 125, 125);
}

.tag__color {
  padding: 0.3rem 1rem;
  margin: 0.5rem 0;
  background-color: var(--azul-oscuro-claro);
  border-radius: 0.3rem;
}

.rojo,
.rojo:hover {
  background-color: var(--rojo);
}

.app__title {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__message {
  height: 100vh;
  flex-direction: column;
  color: white;
}

.app__message > * {
  margin: 1rem 0;
}

.app__confirmacion {
  height: 100vh;
  flex-direction: column;
}

.app__confirmacion > i {
  margin: 1rem 0;
  padding: 0.8rem;
  background-color: rgb(83, 162, 83);
  border-radius: 50%;
  font-size: 3rem;
}

.app__confirmacion > * {
  margin: 1rem 0;
}

.app__confirmacion > div > * {
  margin: 0 0.5rem;
}


/* Filtros Listado */

.app__listado__filtros {
  margin: 1rem 0;
}

.app__listado__filtros__grid {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.app__listado__acciones {
  display: flex;
  align-items: center;
}

.app__listado__acciones > * {
  margin-right: 0.5rem;
}

/* PRODUCTOS */

.app__table__header {
  background-color: var(--azul);
}

.app__table__product {
  display: grid;
  gap: 0.5rem;
}

.app__table__product:nth-child(odd) {
  background-color: var(--azul-oscuro-claro);
}

.app__table__product > * {
  padding: 0.5rem 0.3rem;
  display: flex;
  align-items: center;
}

.app__table__product img {
  width: 60px;
  height: 80px;
  border-radius: 0.3rem;
}

/* MEDIA QUERY */

/* @media screen and (min-width: 1000px) {
  .app__main,
  .app__header > div > div,
  .app__footer > div {
    width: 1400px;
  }

  .app__main {
    padding-top: 130px;
  }
} */

@media screen and (min-width: 1400px) {
  .app__main,
  .app__header > div > div,
  .app__footer > div {
    width: 1400px;
  }

  .app__main {
    padding-top: 130px;
  }
}
