.app__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

.app__header i {
  font-size: 1.5rem;
  cursor: pointer;
}

.app__header__row {
  position: relative;
}

.app__header__row > div > i:last-child {
  margin-left: 1rem;
}

.app__header__row:first-child {
  background-color: var(--azul-oscuro);
}

.app__header__row:first-child > div {
  padding: 0.5rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app__header__row:last-child {
  height: 59px;
  background-color: var(--azul);
  color: white;
}

.app__header__row:last-child a {
  color: white;
}

.app__header__row:last-child > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__header__row > div {
  padding: 0 0.5rem;
}

.app__header__title {
  font-size: 1.4rem;
  color: white;
}

.app__header__row__flex {
  display: flex;
  align-items: center;
}

/* NAV */

.app__header__btn__nav i {
  font-size: 1.6rem;
}

.app__header__nav ul {
  list-style: none;
  flex-direction: column;
}

.app__header__nav li {
  margin: 0.3rem 0;
}

.app__header__nav__hide {
  display: none;
}

.app__header__nav__show {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--azul);
  display: block;
  position: fixed;
  top: 93px;
  left: 0;
  right: 0;
}

/* CARRITO */

.app__header__cart {
  cursor: pointer;
}

.app__carrito__container {
  width: 100%;
  padding: 1rem;
  background-color: var(--azul-oscuro);
  color: var(--blanco);
  box-shadow: var(--sombra);
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  z-index: 200;
}

.app__carrito__productos {
  height: calc(100% - 150px);
  overflow-y: auto;
}

.app__carrito__total {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__carrito__boton {
  width: 100%;
  background-color: var(--azul-oscuro);
}

/* BUSCADOR */

.app__header__btn__search {
  margin: 0 0.5rem;
}

.app__header__btn__search i {
  font-size: 1.2rem;
}

.app__form__search__hide {
  display: none;
}

.app__form__search__show {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--azul);
  display: block;
  position: fixed;
  top: 93px;
  left: 0;
  right: 0;
}

.app__form__search input,
.app__form__search button {
  padding: 0.5rem 1rem;
  color: white;
  border: 1px solid var(--azul-oscuro-claro);
}

.app__form__search input {
  width: calc(100% - 80px);
  background-color: var(--azul);
  border-right: 0;
  outline: 0;
}

.app__form__search input::placeholder {
  color: white;
}

.app__form__search button {
  width: 80px;
  background-color: var(--azul);
  border-left: 0;
  cursor: pointer;
}

/* --- */

.app__header__user {
  flex-wrap: wrap;
  justify-content: flex-end;
}

.app__header__user > * {
  margin-left: 0.8rem;
}

.app__header__user p span {
  margin: 0 0.3rem;
}

@media screen and (min-width: 500px) {
  .app__carrito__container {
    width: 350px;
  }
}

/* MEDIA QUERY - PC */

@media screen and (min-width: 1200px) {
  .app__header__user > span:hover,
  .app__header__row:first-child > div a:hover {
    color: var(--azul-claro);
    cursor: pointer;
  }

  .app__header__row__flex,
  .app__form__search {
    display: flex;
    align-items: center;
  }

  .app__header__row > div {
    padding: 0;
  }

  /* NAV */

  .app__header__nav {
    width: auto;
    margin-left: 1rem;
    padding: 0;
    background-color: transparent;
    display: block;
    position: relative;
    top: initial;
  }

  .app__header__nav ul {
    flex-direction: row;
  }

  .app__header__nav li {
    padding: 0 1rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 500ms ease;
  }

  .app__header__nav li::after {
    width: 50%;
    height: 2px;
    background-color: white;
    border-radius: 1rem;
    position: absolute;
    bottom: 0;
    left: calc((100% - 50%) / 2);
    content: "";
    opacity: 0;
  }

  .app__header__nav li:hover::after {
    opacity: 1;
  }

  .app__form__search {
    width: 400px;
    margin-right: 2rem;
    display: block;
    position: relative;
    top: initial;
  }

  .app__header__btn__search {
    display: none;
  }

  .app__header__btn__nav {
    display: none;
  }
}
