.form_container {
  width: 100%;
  margin: 1rem auto;
  /* background-color: white; */
  border-radius: 1rem;
  box-shadow: var(--sombra);
}

.form_container > h2 {
  margin-bottom: 3rem;
  text-align: center;
  /* color: black; */
}

/* BOTONES */

.botones {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.form_container form > div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_container form > div:last-child * {
  width: 45%;
  height: 100%;
}

/* --- */

.form_container form > div > span {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .form_container {
    width: 450px;
    padding: 3rem 2rem;
  }
}
