.form_container,
.errors {
  width: 100%;
  margin: 1rem auto;
}

.form_container > h2 {
  text-align: center;
}

/* BOTONES */

.botones {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.form_container form > div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_container form > div:last-child * {
  width: 45%;
  height: 100%;
}

@media screen and (min-width: 600px) {
  .form_container,
  .errors {
    width: 500px;
  }
}
