.producto {
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 500px auto;
  grid-template-rows: 500px;
}

.producto > article:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

/* IMAGEN */

.producto__imagen > * {
  height: 400px;
}

/* TITULO PRODUCTO */

.producto > article h2 {
  font-size: 2rem;
  letter-spacing: 2px;
}

/* INFO */

.producto > article:last-child b {
  font-size: 1rem;
}

.producto > article:last-child p > a {
  margin-left: 0.5rem;
  font-size: 1.3rem;
  color: var(--azul-claro);
}

.producto > article:last-child p > a:hover {
  color: var(--gris-claro);
}

/* DISPONIBILIDAD */

.en_stock,
.agotado {
  margin-left: 0.5rem;
  font-size: 1.4rem;
}

.en_stock {
  color: var(--verde);
}

.agotado {
  color: var(--rojo);
}

/* PRECIO */

.precio > del {
  font-size: 1.2rem;
  color: var(--gris-claro);
}

.precio > span {
  margin-left: 0.8rem;
  font-size: 2rem;
  color: var(--azul-claro);
}

.producto button {
  padding: 1rem 4rem;
  font-size: 1.2rem;
}

/* --- */

.caracteristicas {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 600px auto;
  gap: 4rem;
}

/* DESCRIPCIÓN */

.descripcion {
  padding-top: 1rem;
  text-align: justify;
}

/* INFO */

.caracteristicas > article:last-child > div {
  padding: 1rem 0;

  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--gris-claro);

  display: flex;
  align-items: center;
}

.caracteristicas > article:last-child > div > span {
  margin-left: 0.5rem;
}
